# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database
ecommerce.db
*.sqlite3

# Environment
.env

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
.DS_Store

# Reports / Temporary Artifacts
*.pdf
scratch/
